@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.theme-brown-light {
    background-color: #FAF6EE;
}

.theme-brown-medium {
    background-color: #FCF4E4;
}

.theme-brown-dark {
    background-color: #E3DAC7ff;
}

.theme-blue {
    background-color: #B9F1FF;
}

.theme-blue-light {
    background-color: #EAF7FBff;
}

.bright-red {
    background-color: #FABAA5ff;
}

.theme-green {
    background-color: #CCF4B3;
}

.dayBox {
    width: 13px;
    height: 13px;
    background-color: gainsboro;
}

.title {
    @apply text-3xl justify-self-start font-bold;
}

.content {
    @apply mt-16 p-4 pl-12 pr-12;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}