@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.theme-brown-light {
    background-color: #FAF6EE;
}

.theme-brown-medium {
    background-color: #FCF4E4;
}

.theme-brown-dark {
    background-color: #E3DAC7ff;
}

.theme-blue {
    background-color: #B9F1FF;
}

.theme-blue-light {
    background-color: #EAF7FBff;
}

.bright-red {
    background-color: #FABAA5ff;
}

.theme-green {
    background-color: #CCF4B3;
}

.dayBox {
    width: 13px;
    height: 13px;
    background-color: gainsboro;
}

.title {
    @apply text-3xl justify-self-start font-bold;
}

.content {
    @apply mt-16 p-4 pl-12 pr-12;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}




.burgerMenu {
    margin: 5px 12px;
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 200;
}

.burgerBar{
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    transition: 0.5s ease-out;
}

.menu {
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -22vw;
    background-color: whitesmoke;
    box-shadow: 0.4rem 0rem 1rem rgb(164, 162, 162) ;
    z-index: 100;
    transition: 0.5s ease-in-out;
}

.menu ul {
    text-align: left;
    padding: 4rem 0rem;
}

.menu li {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem 0.8rem;
    width: 86%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.invisibleWrapper {
    position: absolute;
    width: 80vw;
    height: 100vw;
    top: 0;
    right: 0;
    display: none;
}

.menu li:hover {
    background-color: rgb(231, 229, 229);
    transition: 0.3s ease-out;
}

.menu.active {
    left: 0%;
}

.burgerBar.clicked:nth-child(1){
    transform: translate(0px, 10px);
}

.burgerBar.clicked:nth-child(3){
    transform: translate(0px, -10px);
}

.burgerBar.unclicked:nth-child(1){
    transform: translate(0px, 0px);
}

.burgerBar.unclicked:nth-child(3){
    transform: translate(0px, 0px);
}

.invisibleWrapper.active {
    display: inherit;
}